
.bg-orange{
	background-color: #FFB72B;
}

.bg-lightGreen{
	background-color: #B5FE83;
}


.imagenLogo{
	width: 100px;
	height: 100px;
}

/* Modificacion footer  */

.pieFooter{
	font-size: 15px;
	margin-bottom: 0px;
}

.mod_nombreFoo h2{
	font-family: oswald;
	font-size: 40px;
	text-align: center;
	transition: font-size 1s;
}

.mod_nombreFoo h2:hover{
	font-size: 50px;
}

.mod_redes img{
	padding: 20px;
}

.flex{ /*centrado de texto index*/
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.img-sizing{ /*modificacion tamaño imagen index*/
	width: 90%;
	height: 90%;
}

.mod_titulo{ /*personaliza titulo principal index*/
	border-left: 5px solid #FFB72B;
	font-family: oswald;
	font-size: 60px;
}

.mod_texto{ 
	font-family: noto sans;
}

.color{ /*retoque color items nav*/
	text-shadow: 1px 1px 1px #F7F7F7;
}

.text-d-none a{ /*quita el subrayado de boton "conocenos mejor"*/
	text-decoration: none;
}

.mod_botonConocer{ /*personaliza el boton "conocenos mejor"*/
	font-weight: bold;
	font-family: noto sans;
	font-size: 20px;
	color: #F7F7F7;
}

.pad_botonConocer{ /*padding para boton "conocenos mejor"*/
	padding: 5px;
}

/* Modificacion main Nosotros */

.mod_tituloNosotros{
	border-right: 5px solid #FFB72B;
	font-family: oswald;
	font-size: 60px;
}

.mod_fuente{
	font-family: oswald;
	font-size: 70px;
	color: #FFB72B;
}

.alineado{
	text-align: center;
}


/* Retoques para vista mobile */

@media only screen and (max-width: 768px){
	.mod_nombreFoo h2{
		font-size: 30px;
	}

	.mod_tituloNosotros{
		font-size: 30px;
	}

	.mod_titulo{
		font-size: 30px;
	}

	.mod_fuente{
		font-size: 40px;
	}

}
