<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Galeria - Perruqueando</title>

	<!-- noto sans font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Oswald:wght@200&display=swap" rel="stylesheet">

	<!-- oswald font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">

	<!-- Link AOS -->
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

	<!--  Link bootstrap -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

	<!-- link css -->
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<div class="container-fluid">

		<!-- Apertura header -->

		<header class="row">
			<div class="col-lg-12 col-12">
				<nav class="navbar navbar-expand-lg navbar-light bg-lightGreen d-flex align-items-end">
				  <a class="navbar-brand" href="#">
				  	<img src="../assets/img/logoPelu2.png" alt="logo" class="imagenLogo">
				  </a>
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>
				  	<div class="collapse navbar-collapse font-weight-bold" id="navbarNav">
				    	<ul class="navbar-nav">
					      <li class="nav-item">
					        <a class="nav-link color" href="../index.html">Inicio</a>
					      </li>
					      <li class="nav-item">
					        <a class="nav-link color" href="Nosotros.html">Nosotros</a>
					      </li>
					      <li class="nav-item">
					        <a class="nav-link color" href="servicios.html">Servicios</a>
					      </li>
					      <li class="nav-item">
					        <a class="nav-link color" href="#">Galeria</a>
					      </li>
					      <li class="nav-item">
					        <a class="nav-link color" href="contacto.html">Contacto</a>
					      </li>
				    	</ul>
  					</div>
				</nav>
			</div>
		</header>
	</div>	

		<!-- Apertura main -->

	<main class="container-fluid">
		<div class="row">
			<div class="col-lg-12 col-12 alineado">
				<h1 class="mod_fuente">GALERIA</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-12 alineado">
				<img src="../assets/img/perro1.jpg" alt="imagen1" class="shadow p-3 mb-5 bg-light rounded w-75" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">
			</div>
			<div class="col-lg-4 col-12 alineado">
				<img src="../assets/img/perro2.jpg" alt="imagen2" class="shadow p-3 mb-5 bg-light rounded w-75" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">
			</div>
			<div class="col-lg-4 col-12 alineado">
				<img src="../assets/img/perro3.jpg" alt="imagen3" class="shadow p-3 mb-5 bg-light rounded w-75" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">
			</div>
		</div>	
		<div class="row">
			<div class="col-lg-4 col-12 alineado">
				<img src="../assets/img/perro4.jpg" alt="imagen4" class="shadow p-3 mb-5 bg-light rounded w-75" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">
			</div>
			<div class="col-lg-4 col-12 alineado">
				<img src="../assets/img/perro5.jpg" alt="imagen5" class="shadow p-3 mb-5 bg-light rounded w-75" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">
			</div>
			<div class="col-lg-4 col-12 alineado">
				<img src="../assets/img/perro6.jpg" alt="imagen6" class="shadow p-3 mb-5 bg-light rounded w-75" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">
			</div>
	</main>

		<!-- apertura footer -->

	<footer class="container-fluid bg-lightGreen alineado">
		<div class="row d-flex align-items-center">
			<div class="col-lg-4 col-12">
				<a href="#">
					<img src="../assets/img/logoPelu2.png" alt="logo" class="imagenLogo">
				</a>					
			</div>
			<div class="col-lg-4 col-12 d-flex justify-content-center color mod_nombreFoo">
				<h2>Josefina Funes Quero</h2>
			</div>
			<div class=" col-lg-4 col-12 d-flex justify-content-center mod_redes">
				<a href="https://www.facebook.com/dejandoloslindos" target="_blank">
					<img src="../assets/img/facebook.png" alt="logo facebook" class="footer__face">
				</a>
				<a href="https://www.instagram.com/perruqueando/tagged/" target="_blank">
					<img src="../assets/img/instagram.png" alt="logo insta" class="footer__insta">
				</a>	
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-12 d-flex justify-content-center bg-secondary text-light">
				<h3 class="pieFooter">Todos los derechos reservados 2021-22</h3>
			</div>
	</footer>

	<!-- bootstrap y jqueri bundle -->
	
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
	
	<!-- script AOS animaciones -->

	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script>
  		AOS.init();
	</script>
	
</body>
</html>