<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Galeria - Perruqueando</title>
	<!-- noto sans font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Oswald:wght@200&display=swap" rel="stylesheet">
	<!-- oswald font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<div class="contenidoPrincipal">
		<header class="encabezado style">
			    <!-- Apertura Logo -->
				<div class="encabezado__logo">
					<a href="../index.html">
						<img src="../assets/img/logoPelu2.png" alt="logo">
						<h1>Perruqueando</h1>
					</a>
				</div>
			    <!-- Cierre Logo -->
			    <!-- Apertura Navegacion -->
				<nav class="encabezado__nav">
					<ul>
						<li class="nav__item ">
							<a href="../index.html">Inicio</a>
						</li>
						<li class="nav__item ">
							<a href="Nosotros.html">Nosotros</a>
						</li>
						<li class="nav__item ">
							<a href="servicios.html">Servicios</a>
						</li>
						<li class="nav__item ">
							<a href="#">Galeria</a>
						</li>
						<li class="nav__item ">
							<a href="contacto.html">Contacto</a>
						</li>			
					</ul>
				</nav>
			    <!-- Cierre Navegacion -->
			</header>
		<main class="principal__galeria">
			<div class="titulo__galeria">
				<h1>GALERIA</h1>
			</div>
			<!-- apertura imagenes galeria -->
			<div class="imagenUno">
				<img src="../assets/img/perro1.jpg" alt="imagen1">
			</div>
			<div class="imagenDos">
				<img src="../assets/img/perro2.jpg" alt="imagen2">
			</div>
			<div class="imagenTres">
				<img src="../assets/img/perro3.jpg" alt="imagen3">
			</div>
			<div class="imagenCuatro">
				<img src="../assets/img/perro4.jpg" alt="imagen4">
			</div>
			<!-- cierre imagenes galeria -->
		</main>
		<footer class="pie pieStyle">
			<!-- apertura logo -->
			<div class="footer__logo">
				<a href="../index.html">
					<img src="../assets/img/logoPelu2.png" alt="logo">
				</a>
			</div>
			<!-- cierre logo -->
			<!-- Apertura subtitulo footer -->
			<div class="footer__nombre">
				<h2>Josefina Funes Quero</h2>
			</div>
			<!-- redes sociales -->
			<div class="footer__redes">
				<a href="https://www.facebook.com/dejandoloslindos" target="_blank">
					<img src="../assets/img/facebook.png" alt="logo facebook">
				</a>
				<a href="https://www.instagram.com/perruqueando/tagged/" target="_blank">
					<img src="../assets/img/instagram.png" alt="logo insta">
				</a>
			</div>
			<div class="footer__pie">
				<h3>Todos los derechos reservados 2021-22</h3>
			</div>
		</footer>
	</div>
</body>
</html>