<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Nosotros - Perruqueando</title>
	<!-- noto sans font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Oswald:wght@200&display=swap" rel="stylesheet">
	<!-- oswald font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
	<!-- Link AOS -->
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<!-- link css -->
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<div class="contenidoPrincipal">
		<header class="encabezado style">
			    <!-- Apertura Logo -->
				<div class="encabezado__logo">
					<a href="../index.html">
						<img src="../assets/img/logoPelu2.png" alt="logo">
						<h1>Perruqueando</h1>
					</a>	
				</div>
			    <!-- Cierre Logo -->
			    <!-- Apertura Navegacion -->
				<nav class="encabezado__nav">
					<ul>
						<li class="nav__item ">
							<a href="../index.html">Inicio</a>
						</li>
						<li class="nav__item ">
							<a href="#">Nosotros</a>
						</li>
						<li class="nav__item ">
							<a href="servicios.html">Servicios</a>
						</li>
						<li class="nav__item ">
							<a href="galeria.html">Galeria</a>
						</li>
						<li class="nav__item ">
							<a href="contacto.html">Contacto</a>
						</li>			
					</ul>
				</nav>
			    <!-- Cierre Navegacion -->
			</header>
		<main class="principal__nosotros">
			<div class="titulo__nosotros">
				<h1>ACERCA DE PERRUQUEANDO</h1>
			</div>
			<!-- apertura titulo y parrafo uno -->
			<div class="contenido__nosotros" data-aos="fade-up">
				<h2>Acerca de Perruqueando</h2>
				<p>Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Veniam odit et accusantium, ullam inventore molestiae! Veniam recusandae at eum magni, natus nobis, impedit, veritatis laudantium officia quo quaerat. Temporibus, iure?</p>
			</div>
			<!-- cierre titulo y parrafo uno -->
			<!-- apertura imagen uno-->
			<div class="imagen__nosotros" data-aos="fade-right">
				<img src="../assets/img/imgNosotros.jpg" alt="nosotros">
			</div>
			<!-- cierre imagen uno -->
			<!-- apertura  titulo y parrafo dos -->
			<div class="contenido__nosotros2" data-aos="fade-up">
				<h2>Acerca de Perruqueando</h2>
				<p>Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Veniam odit et accusantium, ullam inventore molestiae! Veniam recusandae at eum magni, natus nobis, impedit, veritatis laudantium officia quo quaerat. Temporibus, iure?</p>
			</div>
			<!-- cierre titulo y parrafo dos-->
			<!-- apertura titulo y parrafo dos -->
			<div class="imagen__nosotros2" data-aos="fade-left">
				<img src="../assets/img/imgNosotros1.jpg" alt="nosotros">
			</div>
			<!-- ciere imagen dos -->
		</main>
		<footer class="pie pieStyle">
			<!-- apertura logo -->
			<div class="footer__logo">
				<a href="../index.html">
					<img src="../assets/img/logoPelu2.png" alt="logo">
				</a>
			</div>
			<!-- cierre logo -->
			<!-- Apertura subtitulo footer -->
			<div class="footer__nombre">
				<h2>Josefina Funes Quero</h2>
			</div>
			<!-- redes sociales -->
			<div class="footer__redes">
				<a href="https://www.facebook.com/dejandoloslindos" target="_blank">
					<img src="../assets/img/facebook.png" alt="logo facebook">
				</a>
				<a href="https://www.instagram.com/perruqueando/tagged/" target="_blank">
					<img src="../assets/img/instagram.png" alt="logo insta">
				</a>
			</div>
			<div class="footer__pie">
				<h3>Todos los derechos reservados 2021-22</h3>
			</div>
		</footer>
	</div>

	<!-- scrypt AOS animaciones -->

	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script>
  		AOS.init();
	</script>

</body>

</html>